@model IEnumerable<Pdg.Splorr.MerchantsAndTraders.DataLayer.WorldListItem>

<table class="table">
    <thead>
        <tr>
            <th>World Name</th>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.WorldName</td>
                <td>@item.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>